{% extends 'base.html.twig' %}

{% block title %}Selectionnez votre questionnaire{% endblock %}

{% block body %}
<div class="container container-qr">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="{{ path('app_qr_code_questionary') }}" method="post" class="">
                <div class="form-group form-group-qr">
                    <label for="intern">Qui êtes-vous</label>
                    {% if interns|length > 0 %}
                        <select class="form-control form-control-qr" id="intern" name="internId" required>
                            <option value="" disabled selected>Sélectionnez {% if type == 1 %}un stagiaire{% elseif type == 2 or type == 3 %}une personne{% elseif type == 4 %}un intervenant{% endif %}</option>
                            {% for intern in interns %}
                                <option value="{{ intern.id }}" data-intern="{{ intern|json_encode }}" 
                                        {% if intern.bRealise %}disabled{% endif %}>
                                    {{ intern.name }}
                                    {% if intern.bRealise %} (Déjà réalisé) {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <p>Aucun stagiaire disponible.</p>
                    {% endif %}
                </div>
                <!-- Hidden input to store the selected intern as a JSON string -->
                <input type="hidden" id="selectedInternData" name="selectedInternData" value="">
                <button type="submit" class="btn btn-qr"
                        id="submitButton" 
                        {% if interns|length == 0 %}disabled{% endif %}>Remplir mon questionnaire</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('intern').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const internData = JSON.parse(selectedOption.getAttribute('data-intern') || "{}");

        // Set the hidden input's value to the selected intern's JSON data
        document.getElementById('selectedInternData').value = JSON.stringify(internData);

        // Disable the submit button if bRealise is true
        const submitButton = document.getElementById('submitButton');
        if (internData.bRealise) {
            submitButton.innerText = "Questionnaire déjà rempli";
            submitButton.disabled = true;
        } else {
            submitButton.innerText = "Remplir mon questionnaire";
            submitButton.disabled = false;
        }
    });
</script>
{% endblock %}
