{% extends 'base.html.twig' %}

{% block title %}Hello QrCodeController!{% endblock %}

{% block body %}
{# form with a picker with all the interns of a quesionary #}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="{{ path('app_qr_code_questionary') }}" method="post">
                <div class="form-group">
                    <label for="intern">Qui êtes-vous :</label>
                    {% if interns|length > 0 %}
                        <select class="form-control" id="intern" name="internId" required>
                            <option value="" disabled selected>Sélectionnez un stagiaire</option>
                            {% for intern in interns %}
                                <option value="{{ intern.id }}" data-intern="{{ intern|json_encode }}">{{ intern.name }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <p>Aucun stagiaire disponible.</p>
                    {% endif %}
                </div>
                <!-- Hidden input to store the selected intern as a JSON string -->
                <input type="hidden" id="selectedInternData" name="selectedInternData" value="">
                <button type="submit" class="btn btn-primary" {% if interns|length == 0 %}disabled{% endif %}>Remplir mon questionnaire</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('intern').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const internData = selectedOption.getAttribute('data-intern');
        
        // Set the hidden input's value to the selected intern's JSON data
        document.getElementById('selectedInternData').value = internData;
    });
</script>
{% endblock %}
