{% extends 'base.html.twig' %}

{% block title %}Hello QrCodeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1>Redirection vers le questionnaire</h1>
            <p>Vous allez être redirigé vers le questionnaire dans quelques secondes</p>
        </div>
    </div>
</div>

{% endblock %}
