{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">{{ reponse }}</div>
        </div
    </div>
{% endblock %}